.header {
  height: 56px;
  border-right: var(--color-white) solid 4px;
  border-left: var(--color-primarydarker) solid 4px;
  border-bottom: var(--color-white) solid 4px;
  border-top: var(--color-primarydarker) solid 4px;
  margin-bottom: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

.emoji {
  width: 39px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  border-right: var(--color-primarydarker) solid 4px;
  border-left: var(--color-white) solid 4px;
  border-bottom: var(--color-primarydarker) solid 4px;
  border-top: var(--color-white) solid 4px;
  outline: none;
}

.emoji span {
  font-size: 26px;
}

.emoji:active {
  transform: scale(0.95);
}
